.DS_Store
node_modules
/dist
/lib
.secrets
logs
coverage

# ajv
src/validations.mjs

# source
.yarn/install-state.gz

# keys
**key**.json
wallets
contract

# local env files
.env

# warp
cache/

# yarn
.yarn/install-state.gz
.yarn/cache

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
