.DS_Store
node_modules
/dist
/lib
.secrets
logs
coverage

# tests
*.xml

# ajv
src/validations.js

# source

# keys
**key**.json
wallets

# local env files
.env

# test files
arns_contract.json

# warp
cache/

# yarn
.yarn/install-state.gz
.yarn/cache

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# tests
arns_contract.json
